NODE_ENV=development
API_PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/job_hunter_agent?schema=public

OPENAI_API_KEY=
TAVILY_API_KEY=
FIRECRAWL_API_KEY=
RESEND_API_KEY=

LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=
NEXT_PUBLIC_API_URL=http://localhost:4000
